.button {
    margin-left: 80px;
}

.navigation__button {
    background-color: #ffffff;
    border: none;
    font-size: 26px;
    font-weight: bold;
}

.table__form {
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.table__title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.user__attendance-table {
    width: 100%;
    margin: 0 auto;
}

tr {
    height: 90px;
    border-top: 1px solid #808080;
    line-height: 0.8;
}

th, td {
    height: 50px;
    text-align: left;
    padding: 10px 0 10px 70px;
}